<app-header [mainTitle]="'Weather'" />

<div class="flex w-full gap-2">
  <div class="w-1/2 ml-1 p-2 border border-gray-300 rounded-lg">
    <form
      class="max-w-sm mx-auto"
      [formGroup]="timeForm"
      (ngSubmit)="handleSubmit()"
    >
      <div class="mb-5">
        <label
          for="city"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >City</label
        >
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="city"
          name="city"
          type="text"
          placeholder="Medellín"
          formControlName="city"
          required
        />
        <!--  -->
        @if (timeForm.get('city')?.invalid && (timeForm.get('city')?.touched ||
        timeForm.get('city')?.dirty)) {
        <p class="m-2 p-2 text-red-800 border rounded-full text-center">
          Type A Valid City Name
        </p>
        }
      </div>

      <div class="text-right">
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-pointer"
          type="submit"
          [disabled]="timeForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div></div>
  <div class="w-1/2 mr-1 p-2 border border-gray-300 rounded-lg">
    <ul class="flex flex-col gap-4 mt-4">
      <li>Temperature: {{ weather?.main?.temp }}</li>
      <li>City: {{ weather?.name | uppercase }}</li>
      <li>Latitude: {{ weather?.coord.lat }}</li>
      <li>Longitude: {{ weather?.coord.lon }}</li>
    </ul>

    @if (apiError) {
    <p class="m-2 p-2 text-red-800 border rounded-full text-center">
      No data found for the city
    </p>
    }
  </div>
</div>
<hr class="m-4 p-4 " />


<h3 class="text-center text-2xl font-semibold text-gray-800 dark:text-white">
  {{date |  date:'Y/m/d hh:mm a'}}

</h3>