<app-header [mainTitle]="'App Educativa del Clima'"/>

<div class="container mx-auto p-4">
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Bienvenido a la App Educativa del Clima</h2>
    <p class="mb-4">
      Esta aplicación te permite consultar el clima actual de cualquier ciudad ingresando su nombre. Utiliza la API de OpenWeatherMap para obtener la información meteorológica más reciente.
    </p>
    <p class="mb-4">
      Para comenzar, navega a la sección "Time" en la barra de navegación y completa el formulario con el nombre de la ciudad que deseas consultar.
    </p>
    <p class="mb-4">
      La aplicación mostrará la temperatura actual, la latitud y longitud de la ciudad, y otros datos relevantes.
    </p>
    <p class="mb-4">
      ¡Esperamos que disfrutes usando esta aplicación y que te sea de utilidad!
    </p>
  </div>
</div>